$colors: (
	$color-yellow: rgb(255, 208, 67),
	$color-black: rgb(10, 10, 10),
	$color-white: rgb(255, 243, 226),
	$font-family-serif: "Open Sans",
	$font-family-sans-serif: "DM Serif Display",
	$font-size-hiper: 12vw,
	$font-size-H1: 4vw,
	$font-size-p: 1.2vw,
	$font-size-legend: 1vw
);
